.App {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.itemApp {
  width: 900px;
  display: flex;
  justify-content: space-around;
  margin: 10px;
}
.message {
  color: lawngreen;
}
.error {
  border: 1px solid red;
}
.error-message {
  color: red;
}
.active-filter {
  background-color: aqua;
  border: 2px solid aqua;
}
.is-done {
  opacity: 0.4;
}
